.home {
  max-width: 80rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.paragraph {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0.2rem;
    color: var(--accent);
    font-weight: 700;
  }

  p {
    padding: 0.2rem;
    border: 1px solid var(--accent);
    border-radius: 2px;
    background: var(--gray-100);
  }
}

@media (prefers-color-scheme: dark) {
  .paragraph {
    p {
      background: var(--gray-800);
    }
  }
}
