:root {
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #808080;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;

  --blue-100: #c2e0f9;
  --blue-200: #99c9ef;
  --blue-300: #66afe7;
  --blue-400: #2488e0;
  --blue-500: #1e6fc2;
  --blue-600: #1857a4;
  --blue-700: #123f86;
  --blue-800: #0c2968;
  --blue-900: #06144a;

  --bg: var(--gray-300);
  --fg: var(--gray-900);
  --accent: var(--blue-600);
}

/* detects browser/OS settings */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--gray-900);
    --fg: var(--gray-100);
    --accent: var(--gray-100);
  }
}

/* LoginovReset - Next Edition */
*, *::before, *::after { box-sizing: border-box; }
*                      { margin: 0;  padding: 0; }

body {
  color: var(--fg);
  background: var(--bg);
  line-height: 1.2;
  font-family: var(--font-montserrat); /* Replace */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; /* Flex set on first available wrapper around header/main/footer */
  flex-direction: column;
  min-height: 100dvh;
}

input, textarea, select          { outline: none; border-radius: 0; }
a                                { text-decoration: none;           }
ul, ol                           {      list-style: none;           }
img, picture, video, canvas, svg {         display: block;          }
/* span, a, strong, em, b, i        {         display: inline-block;   } */
button                           {          cursor: pointer;        }

a, p, h1, h2, h3, h4, h5, h6, button, label, input, textarea, select, option {
  overflow-wrap: break-word;
           font: inherit;
          color: inherit;
}

::-webkit-scrollbar       { width: 1px; height: 1px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--fg); border-radius: 5px; }
/* END */

#main {
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
}

/* text highlighting */
.highlight {
  background-image: linear-gradient(90deg, var(--blue-600), var(--blue-500));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    background-image: linear-gradient(90deg, var(--blue-200), var(--blue-300));
  }
}
