.images {
  max-width: 80rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  > form {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  > ul {
    width: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    gap: 0.5rem;

    li {
      position: relative;
      height: 4rem;
      border: 1px solid #000;
    }
  }
}
