.image-picker {
  border: 1px solid var(--fg);
  border-radius: 4px;
  width: 200px;
  max-width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Image with fill must be relative to parent */
  overflow: hidden; /* hide image borders */

  img {
    object-fit: cover;
  }

  input {
    display: none;
  }

  span {
    font-size: 80%;
    text-align: center;
  }

  &.error {
    border-color: var(--red-600);
    color: var(--red-600);
  }
}
