:root {
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #808080;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;

  --orange-100: #ffc905;
  --orange-200: #f9b241;
  --orange-300: #ff9b05;
  --orange-400: #f9572a;
  --orange-500: #fd4715;

  --green: #668139;
  --purple: #2e1470;
  --accent: var(--green);

  --bg: var(--gray-200);
  --fg: var(--gray-900);
}

/* detects browser/OS settings */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--gray-900);
    --fg: var(--gray-100);
    --accent: var(--purple);
  }
}

/* LoginovReset - Next Edition */
*, *::before, *::after { box-sizing: border-box; }
*                      { margin: 0;  padding: 0; }

body {
  color: var(--fg);
  background: var(--bg);
  line-height: 1.2;
  font-family: var(--font-montserrat); /* Replace */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; /* Flex set on first available wrapper around header/main/footer */
  flex-direction: column;
  min-height: 100dvh;
}

input, textarea, select          { outline: none; border-radius: 0; }
a                                { text-decoration: none;           }
ul, ol                           {      list-style: none;           }
img, picture, video, canvas, svg {         display: block;          }
/* span, a, strong, em, b, i        {         display: inline-block;   } */
button                           {          cursor: pointer;        }

a, p, h1, h2, h3, h4, h5, h6, button, label, input, textarea, select, option {
  overflow-wrap: break-word;
           font: inherit;
          color: inherit;
}

::-webkit-scrollbar       { width: 1px; height: 1px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--fg); border-radius: 5px; }
/* END */

#main {
  flex: 1
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
}
