.image-picker {
  border: 1px solid var(--fg);
  border-radius: 4px;
  width: 100%;
  max-width: 375px;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Image with fill must be relative to parent */
  object-fit: cover; /* image fit */

  input {
    display: none;
  }

  &.error {
    border-color: var(--orange-500);
    color: var(--orange-500);
  }
}
