.svg {
  --fill: var(--accent);
  --stroke: var(--bg);
  color: var(--fill);
  transition: 0.6s ease;

  g {
    transition: 0.6s ease;
    fill: var(--fill);
    stroke: var(--stroke);
  }

  &:hover {
    --fill: var(--bg);
    --stroke: var(--accent);
  }

  &.invert {
    --fill: var(--gray-100);
    --stroke: var(--accent);

    &:hover {
      --fill: var(--accent);
      --stroke: var(--gray-100);
    }
  }
}
