.header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  overflow-x: scroll;
  font-family: var(--font-tinos);
  background: var(--bg);

  > a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header {
    a {
      transition: 0.5s ease;
      &:hover {
        color: var(--orange-500);
        text-shadow: 2px 2px 4px var(--orange-600);
      }
    }
  }
}
