.news-slug {
  padding: 1rem 5vw;
  max-width: 80rem;
  margin: 0 auto;

  h1 {
    font-family: var(--font-tinos);
    color: var(--accent);
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
  }

  time {
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 0 0 4px var(--accent);
  }

  p {
    padding: 1rem;
    margin: 0.5rem auto;
    border-radius: 2px;
    background: var(--blue-700);
    color: var(--gray-100);
    box-shadow: 0 0 10px var(--blue-700);
  }
}
