.articles-latest {
  max-width: 80rem;
  margin: 1rem auto;

  > h1 {
    margin: 0 1.2rem;
    font-size: 1.2rem;
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
    text-shadow: 0 0 3px var(--blue-900);
  }
}
