.meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: var(--gray-200);
  background: linear-gradient(90deg, #2c1e19, #25200f);

  h2 {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  p {
    margin: 0 1rem;

    &:first-of-type {
      font-size: 0.75rem;
      font-style: italic;
      color: #cfa69b;
    }
  }

  a {
    display: block;
    align-self: end;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--gradient-mid);
    color: var(--gray-100);
    font-weight: 900;
  }
}

.image {
  position: relative;
  height: 15rem;

  img {
    object-fit: cover;
  }
}

@media (hover: hover) and (pointer: fine) {
  .meal {
    a {
      transition: 0.5s ease;
      &:hover {
        background: var(--gradient-max);
        box-shadow: 0 0 12px var(--orange-400);
      }
    }
  }
}
