.meals-share {
  padding: 1rem;
  margin: 2rem auto 5rem;
  max-width: 50em;

  header {
    color: var(--fg);

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }
  }
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem;
  overflow-x: scroll;

  button {
    align-self: end;
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    background: var(--gradient-mid);
    color: var(--gray-100);
    border: none;
    border-radius: 2px;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;

    &:disabled {
      background: var(--gray-400);
      color: var(--gray-600);
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;

  p {
    width: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .form {
    button {
      &:hover:not(:disabled), &:focus:not(:disabled) {
        background: var(--gradient-max);
        box-shadow: 0 0 12px var(--orange-500);
      }
    }
  }
}
